<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY HOME</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.mini.css')}}">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">首页</a>
    </div>
    <div>
        <a class="navbar-brand" href="{{ url_for('comments') }}">留言</a>
    </div>
    </div>
</nav>

    {% block body %}
    {% endblock body %}

    {% block footer %}
    {% endblock footer %}


    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.mini.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.mini.js')}}"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>