{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    {% block body %}
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h1>Test</h1>
    <form method="post" class="form">
        {{wtf.quick_form(form)}}

    </form>
    <strong>-----{{says|length}}个记录-----</strong>
     {% for say in says %}
     <h2>{{say.name}}:</h2>
     <p>{{say.body}}</p>
        {{moment(say.timestamp).fromNow(refresh=True)}}
    <form action="{{url_for('delete',sayid=say.id)}}" method="post" class='inlines'>
        <input type="submit" class='btn' name="" id="" value="删除">
        
    </form>
    <a href="{{url_for('edit',sayid=say.id)}}" class="abutton">编辑</a>
    
     {% endfor %}
     {% endblock body %}
    <footer>
        <small>&copy; 2021 <a href="http://vllbc.top">My Blog</a></small>
    </footer>
</body>
</html>